<ul class="sidebar-menu" id="default-menu">
<span syle="color: #FFF;font-size: 85%;">
    <i class="fa fa-refresh fa-spin"></i>
</span>
{% if asideEl.loader -%}
    {{ asideEl.loader|raw }}
{%- endif %}
</ul>
