<ul class="sidebar-menu" id="default-menu">
<li><a href="#" syle="font-size: 85%; color: lightgrey;">
    &#160;Loading ...
</a></li>
</ul>
{% if asideEl.loader -%}
    {{ asideEl.loader|raw }}
{%- endif %}