<!-- Sidebar user panel (optional) -->
<div class="user-panel" style="min-height: 35px;">
    <!-- <div class="pull-left image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
    </div> -->
    <div class="info pull-left" style="font-size: 14px; padding: 0px; left: 0px;; padding-left: 7px">
        {% if asideEl.user_panel_nam %}<span>{{ asideEl.user_panel_name }}</span>{% endif %}
        &#160;<a href="#"><i class="fa fa-circle text-success"></i> {{ trans('default.online') }}</a>
    </div>
</div>
