# System
/app/_cache/
/app/Configuration/database.ini
/app/Controllers/Test/
/app/Views/Test/*
/app/Parameters.php
/public/assets/vendor/*
!/public/assets/vendor/admin-lte
!/public/assets/vendor/Ionicons
!/public/assets/vendor/sparkline
!/public/assets/vendor/jquery.steps
/sql/*.svg
/sql/*.xml
/logs/*
!/logs/.gitkeep

# Composer
/vendor/
composer.lock
*.bat

# Docker
/.docker/
docker-compose.yml
