<div class="text-center" style="margin-top: 10%;">
    <div>
        <h1 class="text-center vcenter">Bientôt une datatable avec les contacts</h1>
        <h3 class="text-center vcenter">...</h3>
    </div>
</div>