<!-- page content -->
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
           {{ assets("datatables_lib","css","vendor")|raw }}
        </div>
    </div>
</div>