<!-- Main content -->
<section class="content">
<span syle="font-size: 85%;">
    <i class="fa fa-refresh fa-spin"></i>
</span>
    {% if contentEl.loader %}
        {{ contentEl.loader|raw }}
    {% endif %}
</section>
<!-- /.content -->