<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b>{% if footerEl.version %}&#160;{{ footerEl.version }}{% else %}&#160;1.0.0{% endif %}
    </div>
    <strong>Copyright &copy; <a href="https://www.ipefix.com">Ipefix Studio</a></strong>
</footer>