<form role="form" {% block block_form_id %}{% endblock %} {% block block_form_name %}{% endblock %} {% block block_form_target %}target="_self"{% endblock %} {% block block_form_method %}method="post"{% endblock %} {% block block_form_action %}action="#"{% endblock %} {% block block_form_lang %}lang="en"{% endblock %} >
{% block block_form_hiddens %}{% endblock %}  
{% block block_form_content %}<p><small>default_form_content</small></p>{% endblock %} 
{% block block_form_buttons %}{% endblock %}  
{% block block_form_script %}{% endblock %} 
</form>