<!-- Left side column. contains (the logo) and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        {% include "Default/App/Aside/user-panel.html.twig" %}
        {% include "Default/App/Aside/sidebar.html.twig" %}
        {% include "Default/App/Aside/links-panel.html.twig" %}
    </section>
    <!-- /.sidebar -->
</aside>