<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {# include "Default/App/Content/header.html.twig" #}
    {% include "Default/App/Content/main.html.twig" %}
</div>
  <!-- /.content-wrapper -->